<%- partial('../../_shared/macros') %>
<!DOCTYPE HTML>
<html>
  <head>
    <title>Ethan's Narrations | <%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <% if (typeof desc == "undefined") { %>
    <meta name="description" content="<%= yield.replace(/<\/?[^>]+(>|$)/g,"").slice(0,140) %>" />
    <% } else { %>
    <meta name="description" content="<%= desc.slice(0,140) %>" />
    <% } %>
    <meta name="author" content="Ethan Eldridge">
    <meta name="keywords" content="Ethan,Eldridge,Joachim,Narrations,Short,Story,Stories,writing"/>
    <meta name="robots" content="index, follow"  />
      <meta name="revisit-after" content="1 month" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
      
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/ico">

    <%- partial('../../_shared/og') %>
    <%- partial('../../_shared/scripts') %>
  </head>
  <body>
    <header>
      <%- partial('../../_shared/header') %>
    </header>

    <div id="content">
      <a href="/writing">Back</a>
      <h2><%= title %></h2>
      <div>
      	<%- yield %>
      </div>
      <%- partial('../../_shared/disqus') %>   
    </div>
    <%- partial('../../_shared/nav') %>
  </body>
</html>
  	