<%- partial('../../_shared/macros') %>
<!DOCTYPE HTML>
<html>
  <head>
    <title>Ethan's Writing | <%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="A short poem by Ethan J. Eldridge" />
    <meta name="author" content="Ethan Eldridge">
    <meta name="keywords" content="Ethan,Eldridge,Joachim,Poetry,poems,writing"/>
    <meta name="robots" content="index, follow"  />
      <meta name="revisit-after" content="1 month" />
      <meta name="viewport" content="width=1040">
      
    <%- partial('../../_shared/favicon') %>
    <%- partial('../../_shared/og') %>
    <%- partial('../../_shared/scripts') %>
  </head>
  <body>
    <header>
      <%- partial('../../_shared/header') %>
    </header>

    <div id="content">
      <a href="/writing">Back</a>
      <h2><%= title %></h2>
      <em>
      	<%- yield %>
      </em>
      <p>
        Last updated: <%= new Date(date).getFullYear() + "-" + new Date(date).getMonth() + "-" + new Date(date).getDate() %>
      </p>
      <%- partial('../../_shared/disqus') %>   
    </div>
    <%- partial('../../_shared/nav') %>
  </body>
</html>
  	