<%- partial('_shared/macros') %>
<!DOCTYPE HTML>
<html>
	<head>
		<title>Ethan J. Eldridge | <%= title %></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="<%= description %>" />
		<meta name="author" content="Ethan Eldridge">
		<meta name="keywords" content="Ethan,Eldridge,Joachim,Programming"/>
		<meta name="robots" content="index, follow"  />
    	<meta name="revisit-after" content="1 month" />
    	<meta name="viewport" content="width=1040">
    	
		<%- partial('_shared/favicon') %>
		<%- partial('_shared/og') %>
		<%- partial('_shared/scripts') %>
	</head>
	<body id="home">
		<header>
			<%- partial('_shared/header') %>
		</header>

		<div id="content">
			<%- yield %>
		</div>
		<%- partial('_shared/nav') %>
	</body>
</html>