<%- partial('_shared/macros') %>
<section class="non-essential-mobile">
	<h3>Welcome, welcome, come right in...</h3>
	<small>Welcome to my website. There are many like it, but this one is mine.</small>

	<img src="//<%=  macros.imgSrc("/ethan.jpeg") %>" width="64px" height="64px" href="/about" />		
	<p>
		You've found <a href="http://www.ethanjoachimeldridge.info">www.ethanjoachimeldridge.info</a>, 
		the homepage of Programmer Ethan Joachim Eldridge. I'm a web developer specializing in
		efficient back end systems. As obvious by the address of this page, the opinions on this site are mine and not representative of any company I work for. 
		<a href="/about">Find out more about me</a>
	</p>

	
	<p>
		If you're looking for a place to find <a href="/cooking">recipes</a> or
		interesting and sometimes useful <a href="/tech-blog">blog posts</a> you've
		come to the right place. And if you're interested in thoughts, musings
		and general randomness, feel free to checkout the <a href="/writing">writing
		section</a> If you're interested in things that engage
me politically, checkout <a href="/writing/political">the opinion section</a>
	</p>
	<p>

	</p>

	<div name="cooking">
		<h4>Learn to Cook</h4>
		<ul><% 
			//Global toShow for this section.
			var toShow = 3
			var i = 0
			var recipes = []
			for(var idx in public.cooking._data){
				public.cooking._data[idx].slug = idx
				recipes.push(public.cooking._data[idx])
				if(i == toShow) {
					break
				}
				i++
			}

			for(var idx = 0;  idx < recipes.length; idx++){
				if( recipes[idx].slug != 'index' ){
					%><li>
						<a href="/cooking/<%= recipes[idx].slug %>"><%= recipes[idx].title %></a>
					</li><%
					shown++
				}
			}
		%></ul>
	</div>

	<div name="posts">
		<h4>Dev &amp; Tech Blog</h4>
		<ul>
			<%
			var shown = 0
			var posts = []
			for(idx in public['tech-blog']._data){
				public['tech-blog']._data[idx].slug = idx
				posts.push(public['tech-blog']._data[idx])
			}

			for(var idx = posts.length -1;  idx >= 0; idx--){
				if(shown > toShow){
					break
				}
				if( posts[idx].slug != 'index' && !posts[idx].draft ){
					%><li>
						<a href="/tech-blog/<%= posts[idx].slug %>"><%= posts[idx].title %></a>
					</li><%
					shown++
				}
			}
			%>
		</ul>
	</div>

	<div name="writing">
		<h4>Vignettes and Poetry</h4>
		<ul>
			<%
			var shown = 0
			for(idx in public.writing.narrations._data){
				var post = public.writing.narrations._data[idx]
				if(shown > toShow/2){
					break
				}
				if( idx != 'index'){
					%><li>
						<a href="/writing/narrations/<%= idx %>"><%= post.title %></a>
					</li><%
					shown++
				}
				
			}

			shown = 0
			toShow = 36
			for(idx in public.writing.poetry._data){
				var post = public.writing.poetry._data[idx]
				if(shown > toShow/2){
					break
				}
				if( idx != 'index'){
					%><li <% if(shown > 15){
						%>class="non-essential-1260"<%
					} else if(shown > 12){ 
						%>class="non-essential-1080"<%
					} else if(shown > 9){
						%>class="non-essential-920"<%
					} else if(shown > 6){
						%>class="non-essential-760"<%
					}%>>
						<a href="/writing/poetry/<%= idx %>"><%= post.title %></a>
					</li><%
					shown++
					if(shown % 3 == 1){
						%></ul><ul><%
					}
				}
			}	
			%>
		</ul>
	</div>

</section>
