<%- partial('../_shared/macros') %>
<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= description %>" />
    <meta name="author" content="Ethan Eldridge">
    <meta name="keywords" content="Ethan,Eldridge,Joachim,Programming"/>
    <meta name="robots" content="index, follow"  />
      <meta name="revisit-after" content="1 month" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
      
    <%- partial('../_shared/favicon') %>
    <%- partial('../_shared/og') %>
    <%- partial('../_shared/scripts') %>
  </head>
  <body id="recipes">
    <header>
      <%- partial('../_shared/header') %>
    </header>

    <div id="content">
      <a href="/cooking">Back</a>
      <% if(current.source != "index"){ %>
        <div class="recipe">
      <% } %>
    	<%- yield %>
      <% if(current.source != "index"){ %>
        </div>
      <% } %>
      <%- partial('../_shared/disqus') %>   
    </div>
    <%- partial('../_shared/nav') %>
    <%- partial('../_shared/javascript-scripts') %>
  </body>
</html>
  	