<a href="/cooking">Back</a>
<div class="recipe">
	<h2><%= title %></h2>
	<img src="//static.ethanjoachimeldridge.info/cooking/<%= image %>" />
	<em>
		Difficulty: <%= difficulty %>
	</em>
	<p>
		<%- description %>
	</p>
	<strong>Ingredients</strong>
	<ul>
	<% for(item in ingredients) {
		%>
		<li>
			<%= ingredients[item].name %>
		</li>
		<%
	}%>
	</ul>
	<strong>Directions</strong>
	<ol>
	<% for(item in directions) {
		%>
		<li>
			<%= directions[item].instruction %>
		</li>
		<%
	}%>
	</ol>
</div>