<%- partial('../_shared/macros') %>
<h2>Recipes and Cooking</h2>
<div name="bios">
	<div>
		<h3>Chef Ethan (not really a chef)</h3>
		<img src="/images/ethan.jpeg" with="32px" height="32px">
		<p>
			I like to cook chicken, pork, bacon, pretty much anything that involves meat or cheese. I've also got a soft spot for asparagus.
		</p>
	</div>
	<div>
		<h3>Chef Emily (a much better cook)</h3>
		<img src="/images/emily.jpg" width="32px" height="32px">
		<p>
			I'm a world traveler so I've got a few good recipes under my belt, and I love cooking them for friends and family! Vegitables, salads, stir frys, you name it!
		</p>
	</div>
</div>
<hr>
<p>
	Everyone has to eat, and since I'm often busy with projects I prefer to create meals
	that are fast, delicious, and don't require a lot of ingredients. You can find
	some of the meals I make on a somewhat regular basis below. If you've got a 
	recipe you want to share feel free to let me know and I'll put it on this page! If you contribute enough, you might even end up as a guest chef like Emily!
</p>
<div name="search-div">
	<label>
		Search:
		<input type="text" name="search" />
	</label>
</div>
<div id="index">
<% for( slug in public.cooking._data ){
	if( slug == "index" ) continue;
	var recipe = public.cooking._data[slug]
	%>
	<a href="<%= slug %>">
	<article>
		
			<h3><%- recipe.title %></h3>
			<img src="//<%= macros.imgSrc("/cooking/" + recipe.image) %>" />
		
		<p>
			<%- recipe.description %>
		</p>
	</article>
	</a>
	<%
}
%>
</div>
