<%- partial('../_shared/macros') %>
<h2>Recipes and Cooking</h2>
<div name="bios">
	<div>
		<h3>Chef Ethan (not really a chef)</h3>
		<img src="/images/ethan.jpeg" with="32px" height="32px">
		<p>
			I like to cook chicken, pork, bacon, pretty much anything that involves meat or cheese. I've also got a soft spot for asparagus.
		</p>
	</div>
	<div>
		<h3>Chef Emily (a much better cook)</h3>
		<img src="/images/emily.jpg" width="32px" height="32px">
		<p>
			I'm a world traveler so I've got a few good recipes under my belt, and I love cooking them for friends and family! Vegetables, salads, stir frys, you name it!
		</p>
	</div>
</div>
<hr>
<p>
	Everyone has to eat, and since I'm often busy with projects I prefer to create meals
	that are fast, delicious, and don't require a lot of ingredients. You can find
	some of the meals I make on a somewhat regular basis below. If you've got a 
	recipe you want to share feel free to let me know and I'll put it on this page! If you contribute enough, you might even end up as a guest chef like Emily!
</p>
<div id="filter-div">
	<ul>
		<li>
			<a name="filter" onclick="d3Filters('emily')" href="#author:emily">Emily</a>
		</li>
		<li>
			<a name="filter" onclick="d3Filters('ethan')" href="#author:ethan">Ethan</a>
		</li>
	</ul>
</div>
<div name="search-div">
	<label>
		Search:
		<input type="text" name="search" />
	</label>
</div>
<div id="index">
<% var cookingdata = []
%>
<% for( slug in public.cooking._data ){
	if( slug == "index" ) continue;
	var recipe = public.cooking._data[slug]
	//Construct easily searchable meta data
	recipe.slug = slug
	recipe.metadata = ''
	for(item in recipe){ recipe.metadata += recipe[item].toLowerCase()}
	cookingdata.push(recipe)
	%>
	<a href="<%= slug %>">
	<article name="<%= slug %>">
		<input type="hidden" name="tags" value="<%= recipe.title + recipe.author + recipe.description %>">
			<h3><%- recipe.title %></h3>
			<img src="//<%= macros.imgSrc("/cooking/" + recipe.image) %>" />
		
		<p>
			<%- recipe.description %>
		</p>
	</article>
	</a>
	<%
}
%>
</div>
<%
var d3src = "//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"
if(environment == "development"){
	d3src = "/javascript/d3.min.js"
}
%>
<script type="text/javascript" src="<%= d3src %>"></script>
<script type="text/javascript">
	window.cookingdata = <%- JSON.stringify(cookingdata) %>
	
	function d3Filters(filter){
		//define keyfunc
		var keyfunc = function(d){
			return (d && d.slug) || d3.select(this).attr('name')
		}
		var tmpData = []
		for (var i = window.cookingdata.length - 1; i >= 0; i--) {
			var keep = window.cookingdata[i].metadata.indexOf(filter)
			if(keep != -1)
				tmpData.push(window.cookingdata[i])
		};

		var recipes = d3.selectAll("#index article").data(tmpData, keyfunc)

		recipes.style('display','inline-block').transition().style('opacity',100)
		
		recipes.exit()
			.transition()
			.style('opacity',0)
			.transition()
			.style('display','none')
	}
</script>
