<nav>
	<ul>
		<% for(var slug in public._data){ 
			if(slug != "404" && slug != 'Sitemap'){ %>
			<li>
				<a href="/<%= slug %>">
					<img src="//<%= macros.imgSrc("/" + public._data[slug].navimage) %>" width="32px" height="32px" /><!--
					--><%= public._data[slug].navtitle %>
				</a>
			</li>
		<%  }
		}; %>
		<li>
			<a href="/writing/political">
				<img src="//<%= macros.imgSrc("/politics.png") %>" width="32px" height="32px" /><!--
				-->Politics
			</a>
		</li>
		<li>
			<a href="https://github.com/EJEHardenberg">
				<img src="//<%= macros.imgSrc("/github.png") %>" width="32px" height="32px" /><!--
				-->Github
			</a>
			<ul id="additional-git">
				<span>Also on</span>
				<li>
					<a href="https://gitlab.com/u/ejayeldridge">
						<img src="//<%= macros.imgSrc("/gitlab.png") %>" width="16px" height="16px" /><!--
						-->Gitlab
					</a>
				</li>
				<li>
					<a href="https://gitorious.org/~ejehardenberg">
						<img src="//<%= macros.imgSrc("/Gitorious.png") %>" width="16px" height="16px" /><!--
						-->Gitorious
					</a>
				</li>
			</ul>
		</li>
		<li style="padding-top: 0px"> <!--Doesn't need padding because of the nested list above-->
			<a href="https://twitter.com/EthanJEldridge">
				<img src="//<%= macros.imgSrc("/twitter-bird-light-bgs.png") %>" width="32px" height="32px" /><!--
				-->@EthanJEldridge
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/profile/view?id=151414806">
				<img src="//<%= macros.imgSrc("/LinkedIn_logo.png") %>" width="32px" height="32px"/><!--
				-->LinkIn
			</a>
		</li>
	</ul>
</nav>