<nav>
	<ul>
		<% for(var slug in public._data){ 
			if(slug != "404"){ %>
			<li>
				<a href="/<%= slug %>">
					<img src="//<%= staticimagesurl %>/<%= public._data[slug].navimage %>" /><!--
					--><%= public._data[slug].navtitle %>
				</a>
			</li>
		<%  }
		}; %>
		<li>
			<a href="https://github.com/EJEHardenberg">
				<img src="////<%= staticimagesurl %>//github.png" /><!--
				-->Github
			</a>
		</li>
		<li>
			<a href="https://twitter.com/EthanJEldridge">
				<img src="////<%= staticimagesurl %>//twitter-bird-light-bgs.png" /><!--
				-->@EthanJEldridge
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/profile/view?id=151414806">
				<img src="////<%= staticimagesurl %>//LinkedIn_logo.png" /><!--
				-->LinkIn
			</a>
		</li>
	</ul>
</nav>