<nav>
	<ul>
		<% for(var slug in public._data){ 
			if(slug != "404" && slug != 'Sitemap'){ %>
			<li>
				<a href="/<%= slug %>">
					<img src="//<%= macros.imgSrc("/" + public._data[slug].navimage) %>" width="32px" height="32px" /><!--
					--><%= public._data[slug].navtitle %>
				</a>
			</li>
		<%  }
		}; %>
		<li>
			<a href="/writing/political">
				<img src="//<%= macros.imgSrc("/politics.png") %>" width="32px" height="32px" /><!--
				-->Opinion
			</a>
		</li>
		<li>
			<a href="https://github.com/EdgeCaseBerg">
				<img src="//<%= macros.imgSrc("/github.png") %>" width="32px" height="32px" /><!--
				-->Github
			</a>
		</li>
		<li> 
			<a href="https://twitter.com/TheR3dLily">
				<img src="//<%= macros.imgSrc("/twitter-bird-light-bgs.png") %>" width="32px" height="32px" /><!--
				-->@TheR3dLily
			</a>
		</li>
		<li>
			<a href="http://www.linkedin.com/profile/view?id=151414806">
				<img src="//<%= macros.imgSrc("/LinkedIn_logo.png") %>" width="32px" height="32px"/><!--
				-->LinkIn
			</a>
		</li>
	</ul>
</nav>
