<section>
	<div>
		<h2><a href="narrations">Vignettes</a></h2>
		<small>Short stories &amp; descriptions</small>
	</div>
	<ul class="non-essential-mobile">
		<% 
		function sortByDate(object) {
			var dateAvailable = []
			for(idx in object) {
				if("date" in object[idx]){
					var d = object[idx].date
					dateAvailable.push({date: d, key: idx})
				}
			}
			
			dateAvailable.sort(function(a,b){
				return parseInt(Date.parse(b.date)) - parseInt(Date.parse(a.date))
			})
			return dateAvailable
		}

		var sorted = sortByDate(public.writing.narrations._data)
		for( idx in sorted){
			var key = sorted[idx].key
			if(key != 'index'){
			var story = public.writing.narrations._data[key]
			%>
			<li>
				<a href="narrations/<%= key %>"><%= story.title %></a>
			</li>
			<%
			}
		}
		%>
	</ul>
</section><!--
--><section>
	<div>
		<h2><a href="poetry" >Poetry</a></h2>
		<small>Social Commentary</small>
	</div>
	<ul class="non-essential-mobile">
		<% 
		var sorted = sortByDate(public.writing.poetry._data)
		for( idx in sorted){
			var key = sorted[idx].key;
			var poem = public.writing.poetry._data[key]
			if(key != 'index'){
			%>
			<li>
				<a href="poetry/<%= key %>"><%= poem.title %></a>
			</li>
			<%
			}
		}
		%>
	</ul>
</section><!--
--><section>
	<div>
		<h2><a href="smut">Smut</a></h2>
		<small>Daydreams &amp; Fantasy</small>
	</div>
	<ul class="non-essential-mobile">
		<% 
		var sorted = sortByDate(public.writing.smut._data)
		for( idx in sorted){
			var key = sorted[idx].key
			if(key != 'index'){
			var smutStory = public.writing.smut._data[key]
			%>
			<li>
				<a href="smut/<%= key %>"><%= smutStory.title %></a>
			</li>
			<%
			}
		}
		%>
	</ul>
</section>